<section>
    <div class="head">
        <h2 class="text-2xl font-extrabold text-slate-900">Log in to Orvixy</h2>
        <p class="mt-1 text-sm text-slate-500">Log in and continue your social journey.</p>
    </div>
    <form [formGroup]="loginForm" (submit)="signin()" class="mt-5">
        <div class="mb-3.5">
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="#90a1b9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-user-icon lucide-user">
                        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                        <circle cx="12" cy="7" r="4" />
                    </svg>
                </div>
                <input formControlName="email" type="text" id="input-group-1"
                    class="w-full rounded-xl border bg-slate-50 py-3 pl-11 pr-4 text-sm text-slate-800 outline-none transition focus:bg-white border-slate-200 focus:border-[#00298d]"
                    placeholder="Email or Username">
            </div>
            <div class="text-rose-600 text-xs mt-1">
                @let emailControl = loginForm.get('email');
                @if(emailControl?.errors && emailControl?.touched) {
                @if(emailControl?.getError('required')) {
                <p class="">Email or Username is required.</p>
                }
                @if (emailControl?.getError('minlength')) {
                <p>Please enter a valid email or username.</p>
                }
                }
            </div>
        </div>
        <div class="mb-3.5">
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="#90a1b9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-key-round-icon lucide-key-round">
                        <path
                            d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z" />
                        <circle cx="16.5" cy="7.5" r=".5" fill="currentColor" />
                    </svg>
                </div>
                <input formControlName="password" type="password" id="input-group-1"
                    class="w-full rounded-xl border bg-slate-50 py-3 pl-11 pr-4 text-sm text-slate-800 outline-none transition focus:bg-white border-slate-200 focus:border-[#00298d]"
                    placeholder="Password">
            </div>
            <div class="text-rose-600 text-xs mt-1">
                @let passwordControl = loginForm.get('password');
                @if(passwordControl?.errors && passwordControl?.touched) {
                @if(passwordControl?.getError('required')) {
                <p class="">Email is required.</p>
                }
                }
            </div>
        </div>
        <div class="text-center mb-3.5">
            <button [disabled]="loginForm.invalid || isLoading"
                class=" text-white py-3 px-4 rounded-xl w-full font-bold cursor-pointer hover:scale-105 transition bg-blue-900 disabled:bg-gray-500 disabled:scale-100 disabled:cursor-no-drop">
                @if(!isLoading) {
                Log In <i class="fa-solid fa-arrow-right"></i>
                }
                @if (isLoading) {
                Please wait...
                }
            </button>
        </div>
        <div class="text-center">
            <button class="text-sm font-semibold text-[#00298d] cursor-pointer hover:underline transition">
                Forget Password
            </button>
        </div>
    </form>
</section>